<article class="post">
    <div class="title">
        <h4>{{title}}</h4>
        <p>{{content}}</p>
        <span>{{date_time}}</span>
    </div>
    <div class="meta">
        by {{user.username}} on
        {{created_at}}
        |
        <a href="/post/{{id}}"></a>
    </div>
</article>