<article class="post">
    <div class="title">
        <h4>{{title}} {{date_time}}</h4>
        <p>{{content}}</p>
    </div>
    <div class="meta">
        created on
        {{created_at}}
        |
        <a href="/post/{{id}}"></a>
    </div>
</article>